<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cutting Edge</title>
  <meta name="description" content="Cutting Edge">
  <meta name="author" content="Repotag">

  <link rel="stylesheet" href="/stylesheets/primer.css">

</head>

<body>



	<div class="container-lg">
		
		<%= erb :_header %>
		
		<br/>
		<div class="pagehead">
			<h1>Monitored Projects</h1>
		</div>
		<br/>

		<div class="Box">
			<% @repos.each do |repo, info| %>

				<div class="Box-row Box-row--hover-gray d-flex flex-items-center" role="row">
					<a href="<%= repo %>" class="overflow-hidden flex-auto"><%= repo.gsub('/', '<span class="path-divider"> / </span>') %></a>
					<a href="<%= "#{url(repo)}/info" %>"><svg height="20" width="100"><image xlink:href="<%= "#{url(repo)}/svg" %>" /></svg></a>
				</div>
			<% end %>
		</div>
				
		<%= erb :_footer %>
	</div>
	
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
