<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dependency Overview</title>
  <meta name="description" content="Cutting Edge">
  <meta name="author" content="Repotag">

  <link rel="stylesheet" href="/stylesheets/primer.css">

</head>

<body>



	<div class="container-lg">
		
		<header class="Header" role="banner">
			<div class="Header-item">Cutting Edge</div>
		</header>
		
		<svg><image xlink:href="<%= @svg %>" /></svg>
		<label><%= @svg %></label>

		<h1><%= @name %> (<%= @language %>)</h1>
		<br/>

		<% @specs[:locations].each do |filename, spec| %>
			<h3><%= filename %></h3>
			<br/>
			<div class="Box flex-auto">
				<div class="Box-header Box-header--blue d-flex">
					<div class="flex-auto col-md-2" role="gridcell"><b>Name</b></div>
					<div class="flex-auto col-md-2" role="gridcell"><b>Required</b></div>
					<div class="flex-auto col-md-2" role="gridcell"><b>Latest</b></div>
					<div class="flex-auto col-md-2" role="gridcell"><b>Status</b></div>
				</div>
				<% spec.each do |type, dependencies| %>
					<% next if dependencies.empty? %>
					<% dependencies.each do |dependency| %>
						<div class="Box-row Box-row--focus-gray d-flex" role="row">
							<div class="flex-auto col-md-2" role="gridcell"><%= dependency[:name] %></div>
							<div class="flex-auto col-md-2" role="gridcell"><%= dependency[:required] %></div>
							<div class="flex-auto col-md-2" role="gridcell"><%= dependency[:latest] %></div>
							<div class="flex-auto col-md-2" role="gridcell"><%= type %></div>
						</div>
					<% end %>
				<% end %>
			</div>
			<br/>
		<% end %>
	</div>
	
	
	
  <script src="js/scripts.js"></script>
</body>
</html>

