<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dependency Overview</title>
  <meta name="description" content="Cutting Edge">
  <meta name="author" content="Repotag">

  <link rel="stylesheet" href="/stylesheets/primer.css">



</head>

<body>


	<div class="container-lg">
		
		<%= erb :_header %>
		
		<br/>

	  <div class="pagehead">
			<h1><%= @name %> (<%= @language %>)</h1>
		</div>
						
		<div class="TableObject">
		  <div class="TableObject-item TableObject-item--primary">
		    <svg height="20" width="100"><image xlink:href="<%= @svg %>" /></svg>
		  </div>
		  <div class="TableObject-item">
				<button class="btn btn-sm" id="copy-button" role="button" data-clipboard-text="<%= @svg %>">Copy badge link to clipboard</button>
		  </div>
		</div>

		<br/>

		<% @specs[:locations].each do |filename, spec| %>
			<h3><%= filename %></h3>
			<br/>
			<div class="Box flex-auto">
				<div class="Box-header Box-header--gray d-flex">
					<div class="flex-auto col-md-2" role="gridcell"><b>Name</b></div>
					<div class="flex-auto col-md-2" role="gridcell"><b>Required</b></div>
					<div class="flex-auto col-md-2" role="gridcell"><b>Latest</b></div>
					<div class="flex-auto col-md-2" role="gridcell"><b>Status</b></div>
				</div>
				<% spec.each do |type, dependencies| %>
					<% next if dependencies.empty? %>
					<% dependencies.each do |dependency| %>
						<div class="Box-row Box-row--hover-gray d-flex" role="row">
							<div class="flex-auto col-md-2" role="gridcell"><a href="<%= dependency[:url] %>"><%= dependency[:name] %></a></div>
							<div class="flex-auto col-md-2" role="gridcell"><%= dependency[:required] %></div>
							<div class="flex-auto col-md-2" role="gridcell"><%= dependency[:latest] %></div>
							<div class="flex-auto col-md-2" role="gridcell"><span class="Label Label--<%= @colors[type] %>"><%= type.to_s.split('_').collect(&:capitalize).join(' ') %></span></div>
						</div>
					<% end %>
				<% end %>
			</div>
			<br/>
		<% end %>
		
		<%= erb :_footer %>
	</div>
	
	
	<script src="/javascript/clipboard.min.js"></script>
	<script>new ClipboardJS('#copy-button');</script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	

</body>
</html>

